<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sujan.madmoney" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="MadMoney"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterUser.RegisterUserActivity"
            android:label="@string/title_activity_register_user" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sujan.madmoney.MainActivity" />
        </activity>
        <activity
            android:name=".RechargeActivity"
            android:label="@string/title_activity_recharge"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sujan.madmoney.MainActivity" />
        </activity>
        <activity
            android:name=".DepositInBankActivity"
            android:label="@string/title_activity_deposit_in_bank"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sujan.madmoney.MainActivity" />
        </activity>

        <service
            android:name=".Services.BluetoothBackgroundService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".Services.UtilityService"
            android:exported="false" >
        </service>
        <service
            android:name=".Utility.BTMoneyTransService"
            android:exported="false" >
        </service>
    </application>

</manifest>
